body {
	font-family: 'Montserrat', sans-serif;
	background-color: #565A5D;
}

h1 {
	text-align: center;
	font-size: 3em;
}
main {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	height: 500px;
	margin: 0 auto;
}

main > .row {
	flex-basis: 100%;
	display: flex;
	flex-wrap: nowrap;
}

.row button {
	background-color: #565A5D;
	color: #BAC1C7;
	text-align: center;
	border: none;
	width: 25%;
	vertical-align: middle;
	font-size: 1.3em;
	cursor: pointer;
	transition: background-color ease 0.4s;
	outline: none;
}

.row button:hover {
	background-color: #4AA1EC;
}

.row.display {
	font-size: 2em;
	padding: 20px;
}

p#display {
	margin: 0 auto;
	color: #4AA1EC;
}

.equals {
	width: 25%;
	background-color: #fae;
}

.input.operator {

}

.input.zero {
	width: 25%;
}

.input.decimal {
	width:25%;
}