main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 500px;
	height: 500px;
	margin: 0 auto;
}

#output {
	text-align: center;
	font-size: 2em;
}

main .button {
	background-color: orange;
	color: white;
	text-align: center;
	border: 1px white solid;
	width: 20%;
	flex-grow: 1;
	vertical-align: middle;
}

#equals {
	flex-grow: 2;
}