body {
	font-family: 'Montserrat', sans-serif;
	background-color: #565A5D;
}

h1 {
	text-align: center;
}
main {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 700px;
	height: 700px;
	margin: 0 auto;
}

main > .row {
	flex-basis: 100%;
	display: flex;
	flex-wrap: nowrap;
}

.row button {
	background-color: #565A5D;
	color: #BAC1C7;
	text-align: center;
	border: none;
	width: 25%;
	vertical-align: middle;
	font-size: 1.3em;
	cursor: pointer;
	transition: background-color ease 0.4s;
}

.row button:hover {

}

.row.display {
	background-color: gray;
	font-size: 2em;
}

p#display {
	display: inline;
	margin-left: auto;
}




.equals {
	width: 25%;
	background-color: #fae;
}

.input.operator {
	background-color: #fae;
}

.input.zero {
	width: 25%;
}

.input.decimal {
	width:25%;
}